<!DOCTYPE html>
<html lang="en">
<head>
<title>Престиж</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="description" content="Отель Престиж">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="../public/styles/bootstrap-4.1.2/bootstrap.min.css">
<link href="../public/plugins/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="../public/plugins/colorbox/colorbox.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../public/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
<link rel="stylesheet" type="text/css" href="../public/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
<link rel="stylesheet" type="text/css" href="../public/plugins/OwlCarousel2-2.2.1/animate.css">
<link rel="stylesheet" type="text/css" href="../public/styles/contact.css">
<link rel="stylesheet" type="text/css" href="../public/styles/contact_responsive.css">
</head>
<body>

<div class="super_container">
	
	<!-- Header -->

	<header class="header">
		<div class="header_content">

			<!-- Logo -->
			<div class="logo_container d-flex flex-column align-items-center justify-content-center">
				<div class="logo">
					<a href="/" class="text-center">
						<div class="logo_subtitle">Отель</div>
						<div class="logo_title">Престиж</div>
						<div class="logo_stars">
							<ul class="d-flex flex-row align-items-start justfy-content-start">
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
								<li><i class="fa fa-star" aria-hidden="true"></i></li>
							</ul>
						</div>
					</a>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="header_inner d-flex flex-row align-items-center justify-content-start">
							<nav class="main_nav">
								<ul class="d-flex flex-row align-items-center justify-content-start">
									<li><a href="/"><div class="nav_item d-flex flex-column align-items-center justify-content-center"><span>Главная</span></div></a></li>
									<li><a href="/rooms"><div class="nav_item d-flex flex-column align-items-center justify-content-center"><span>Номера</span></div></a></li>
									<li><a href="#"><div class="nav_item d-flex flex-column align-items-center justify-content-center"><span>Бронирование</span></div></a></li>
									<li><a href="/news"><div class="nav_item d-flex flex-column align-items-center justify-content-center"><span>Новости</span></div></a></li>
									<li class="active"><a href="/contact"><div class="nav_item d-flex flex-column align-items-center justify-content-center"><span>Контакты</span></div></a></li>
								</ul>
							</nav>
							<a href="#" class="button_container header_button ml-auto"><div class="button text-center"><span>Забронировать</span></div></a>
							<div class="hamburger ml-auto"><i class="fa fa-bars" aria-hidden="true"></i></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<!-- Menu -->

	<div class="menu">
		<div class="background_image" style="background-image:url(../public/images/home/menu.jpg)"></div>
		<div class="menu_content d-flex flex-column align-items-center justify-content-center">
			<ul class="menu_nav_list text-center">
				<li><a href="/">Главная</a></li>
				<li><a href="/rooms">Номера</a></li>
				<li><a href="#">Бронирование</a></li>
				<li><a href="/news">Новости</a></li>
				<li><a href="/contact">Контакты</a></li>
			</ul>			
		</div>
	</div>
	
	
	<!-- Home -->

	<div class="home">		
		<div class="parallax_background parallax-window" data-parallax="scroll" data-image-src="../public/images/contact/contact.jpg" data-speed="0.8"></div>
		<div class="home_content">
			<div class="home_subtitle">Обращайтесь</div>
			<div class="home_title">Контакты</div>
		</div>
	</div>

	
	<!-- Search Bar -->

	<div class="search_bar">
		<div class="container">
			<div class="row">
				<div class="col">
					<div class="search_bar_container">
						<form action="#" id="search_bar_form" class="search_bar_form d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-between clearfix">
							<div>
								<select class="search_form_select">
									<option disabled selected>Заезд</option>
									<option>25.06.2019</option>
									<option>26.06.2019</option>
									<option>27.06.2019</option>
								</select>
							</div>
							<div>
								<select class="search_form_select">
									<option disabled selected>Выселение</option>
									<option>27.06.2019</option>
									<option>28.07.2019</option>
									<option>29.07.2019</option>
								</select>
							</div>
							<div>
								<select class="search_form_select">
									<option disabled selected>Количество человек</option>
									<option>1</option>
									<option>2</option>
									<option>3</option>
									<option>4</option>
								</select>
							</div>
							<div><button class="search_bar_button">Найти и забронировать</button></div>
						</form>
						<div></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	{{!-- <div id="app"> </div> --}}
	<!-- Contact -->

	<div class="contact">
		<div class="container">
			<div class="row">
				
				<!-- Contact Content -->
				<div class="col-lg-4">
					<div class="contact_content">
						<div class="section_title_container">
							<div class="section_subtitle">отель</div>
							<div class="section_title"><h3>Престиж</h3></div>
						</div>
						<div class="contact_text">
							<p>Генеральный директор:<br/>
							Дроздов Александр Анатольевич</p>
						</div>
						<div class="contact_info">
							<ul>
								<li>Советский СОЮЗ</li>
								<li>+375(29)790-18-47</li>
								<li>AlexDrozdov2010@gmail.com</li>
							</ul>
						</div>
					</div>
				</div>

				<!-- Contact Form -->
				<div class="col-lg-8">
					<div class="contact_form_container">
						<form action="#" id="contact_form" class="contact_form clearfix">
							<div><input type="text" class="contact_input" placeholder="Your Name" required="required"></div>
							<div><input type="email" class="contact_input" placeholder="Your E-mail" required="required"></div>
							<input type="text" class="contact_input" placeholder="Subject">
							<textarea class="contact_input contact_textarea" placeholder="Message" required="required"></textarea>
							<button class="contact_button"><span>Отправить</span></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Google Map -->

	<div class="contact_map">
		<!-- Google Map -->
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d4553.146364547724!2d30.22558491589965!3d55.17826253711996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sby!4v1561575362736!5m2!1sru!2sby" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>  
     
	<!-- Footer -->

	<footer class="footer">
		<div class="container">
			<div class="row">

				<!-- Footer Logo -->
				<div class="col-lg-3 footer_col">
					<div class="footer_logo_container">
						<div class="footer_logo">
							<a href="#" class="text-center">
								<div class="footer_logo_subtitle">отель</div>
								<div class="footer_logo_title">Престиж</div>
								<div class="footer_logo_stars">
									<ul class="d-flex flex-row align-items-start justfy-content-start">
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
										<li><i class="fa fa-star" aria-hidden="true"></i></li>
									</ul>
								</div>
							</a>
						</div>
						<div class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> Все права защищены. Create by <a href="https://vk.com/id19500948" target="_blank">Alex</a>
						</div>
					</div>
				</div>

				<!-- Footer Menu -->
				<div class="col-lg-5 footer_col">
					<div class="footer_menu">
						<ul class="d-flex flex-row align-items-start justify-content-start">
							<li><a href="/">Главная</a></li>
							<li><a href="/rooms">Номера</a></li>
							<li><a href="#">Бронирование</a></li>
							<li><a href="/news">Новости</a></li>
							<li><a href="/contact">Контакты</a></li>
						</ul>
						<div class="footer_menu_text">
							<p>Обращайтесь если чё!</p>
						</div>
					</div>
				</div>

				<!-- Footer Contact -->
				<div class="col-lg-4 footer_col">
					<div class="footer_contact clearfix">
						<div class="footer_contact_content float-lg-right">
							<ul>
								<li>Адрес: <span>Советский СОЮЗ</span></li>
								<li>Телефон: <span>+375(29)790-18-47</span></li>
								<li>Email: <span>AlexDrozdov2010@gmail.com</span></li>
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</footer>	
</div>

<script src="../public/js/jquery-3.2.1.min.js"></script>
<script src="../public/styles/bootstrap-4.1.2/popper.js"></script>
<script src="../public/styles/bootstrap-4.1.2/bootstrap.min.js"></script>
<script src="../public/plugins/greensock/TweenMax.min.js"></script>
<script src="../public/plugins/greensock/TimelineMax.min.js"></script>
<script src="../public/plugins/scrollmagic/ScrollMagic.min.js"></script>
<script src="../public/plugins/greensock/animation.gsap.min.js"></script>
<script src="../public/plugins/greensock/ScrollToPlugin.min.js"></script>
<script src="../public/plugins/colorbox/jquery.colorbox-min.js"></script>
<script src="../public/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
<script src="../public/plugins/easing/easing.js"></script>
<script src="../public/plugins/parallax-js-master/parallax.min.js"></script>
<script src="../public/js/custom.js"></script>


      
    {{!-- <script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.25.0/babel.min.js"></script>
     
   <script type="text/babel" src="/views/r_rooms.jsx"></script> --}}
</body>
</html>