<!DOCTYPE html>
<html>
<head>
    <title>Добавление новости</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Добавление новости</h1>
     <form action="postNews" method="POST">
        <label>title</label>
        <input name="title" /><br><br>
        <label>comment</label>
        <input name="comment" /><br><br>
        <label>image</label>
        <input name="image" /><br><br>
        <input type="submit" value="Отправить" />
     </form>
     <a href="/news">К списку новостей</a>
</body>
<html>